---
title: divulgação
---

<html style="background-color: #33ff22;">
<head>
<title>divulgação</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" href="../img/favicon.ico">
<link rel="stylesheet" type="text/css" href="http://poranceis.hotglue.me/css/reset.min.css">
<link rel="stylesheet" type="text/css" href="http://poranceis.hotglue.me/css/main.css">
</head>
<body id="divulgacao.head" class="page">
	<div id="divulgacao.head.138446687140" class="image resizable object" style="height: 415px; left: 1739.5px; position: absolute; top: 251px; width: 601px; z-index: 100;">
		<img src="http://poranceis.hotglue.me/divulgacao.head.138446687140" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="divulgacao.head.13844669081" class="text resizable object" style="background-color: transparent; color: rgb(255, 255, 255); font-family: 'Courier New',Courier,monospace; font-size: 43px; font-style: normal; font-weight: bold; height: 152px; left: 45px; line-height: 3.32564em; position: absolute; text-align: center; top: 0px; width: 1240px; z-index: 100;">
		exemplos de materiais de divulgação impressos
	</div>
	<div id="divulgacao.head.138446704258" class="text resizable object" style="background-color: transparent; color: rgb(255, 255, 255); font-family: 'Courier New',Courier,monospace; font-size: 24px; font-style: normal; font-weight: bold; height: 54px; left: 1878px; line-height: 1.40555em; position: absolute; text-align: center; top: 725px; width: 348px; z-index: 100;">
		flyer - trás (convite)
	</div>
	<div id="divulgacao.head.13844671787" class="image resizable object" style="height: 539.2px; left: 905.417px; position: absolute; top: 175.8px; width: 764.998px; z-index: 100;">
		<img src="http://poranceis.hotglue.me/divulgacao.head.13844671787" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="divulgacao.head.138446721098" class="image resizable object" style="height: 539.2px; left: 2397.82px; position: absolute; top: 166.4px; width: 381.19px; z-index: 100;">
		<img src="http://poranceis.hotglue.me/divulgacao.head.138446721098" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="divulgacao.head.138446731874" class="image resizable object" style="height: 539.2px; left: 72.2333px; position: absolute; top: 174.4px; width: 762.535px; z-index: 100;">
		<img src="http://poranceis.hotglue.me/divulgacao.head.138446731874" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="divulgacao.head.138446750482" class="image resizable object" style="height: 539.2px; left: 2854.4px; position: absolute; top: 166.4px; width: 381.19px; z-index: 100;">
		<img src="http://poranceis.hotglue.me/divulgacao.head.138446750482" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="divulgacao.head.138446754641" class="text resizable object" style="background-color: transparent; color: rgb(255, 255, 255); font-family: 'Courier New',Courier,monospace; font-size: 24px; font-style: normal; font-weight: bold; height: 47px; left: 336px; line-height: 1.64167em; position: absolute; text-align: center; top: 719px; width: 229px; z-index: 100;">
		cartaz
	</div>
	<div id="divulgacao.head.13844682691" class="text resizable object" style="background-color: transparent; color: rgb(255, 255, 255); font-family: 'Courier New',Courier,monospace; font-size: 21px; font-style: normal; font-weight: bold; height: 59px; left: 1144px; line-height: 2.28095em; position: absolute; text-align: center; top: 716px; width: 302px; z-index: 100;">
		flyer - frente
	</div>
	<div id="divulgacao.head.138446833481" class="text resizable object" style="background-color: transparent; color: rgb(255, 255, 255); font-family: 'Courier New',Courier,monospace; font-size: 21px; font-style: normal; font-weight: bold; height: 51px; left: 2439px; line-height: 2.28095em; position: absolute; text-align: center; top: 709px; width: 741px; z-index: 100;">
		lambelambes com qr code que redireciona para o site
	</div>
</body>
</html>
