---
title: etapa um
---
<html style="background-image: url('../img/fundoprimeira1.jpg');">
<head>
<title>etapa um</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" href="../img/favicon.ico">
<link rel="stylesheet" type="text/css" href="http://poranceis.hotglue.me/css/reset.min.css">
<link rel="stylesheet" type="text/css" href="http://poranceis.hotglue.me/css/main.css">
</head>
<body id="etapa1.head" class="page">
	<div id="etapa1.head.138437423063" class="webvideo resizable object" style="height: 503px; left: 26px; position: absolute; top: 601px; width: 826px; z-index: 100;">
		<iframe class="youtube-player" src="http://www.youtube.com/embed/VlGZRWHhDJI?rel=0" style="border-width: 0px; height: 100%; position: absolute; width: 100%;"></iframe>
	</div>
	<div id="etapa1.head.138437434233" class="text resizable object" style="background-color: transparent; color: rgb(210, 111, 25); font-family: 'Courier New',Courier,monospace; font-size: 76px; font-style: italic; font-weight: normal; height: 102px; left: 41px; letter-spacing: 0.0428571em; line-height: 1.09143em; opacity: 0.616667; position: absolute; top: 14px; width: 355px; z-index: 101;">
		Etapa ~
	</div>
	<div id="etapa1.head.138444864210" class="image resizable object" style="height: 301px; left: 831px; position: absolute; top: 75px; width: 512px; z-index: 100;">
		<img src="http://poranceis.hotglue.me/etapa1.head.138444864210" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="etapa1.head.13844549832" class="image resizable object" style="height: 585.6px; left: 933.4px; position: absolute; top: 433.4px; width: 439.2px; z-index: 100;">
		<img src="http://poranceis.hotglue.me/etapa1.head.13844549832" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="etapa1.head.138445504124" class="image resizable object" style="height: 320px; left: 44px; position: absolute; top: 157px; width: 215px; z-index: 100;">
		<img src="http://poranceis.hotglue.me/etapa1.head.138445504124" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
</body>
</html>
