---
title: interior
image: guardiao_projeto_red.jpg
width: 2068
height: 1456
markers:
  interior: 0,0
---
<iframe width="853" height="480" src="//www.youtube.com/embed/1FH-q0I1fJY?rel=0" frameborder="0" allowfullscreen></iframe>

<div class="mapa-magico">
  <%= image_tag current_page.data.image, :class=>"imgMap" %>
  <% current_page.data.markers.each do |id, coords| %>
    <div class='marker' id="<%= id %>" data-coords="<%= coords %>"></div>
  <% end %>
</div>


