---
title: poranceis 
---
<style>

body {background-image:url('../img/fundo_azul.jpg');}

p {color: white; text-align:justify;}

</style>
<div class="video-com-texto">
 <iframe width="720" height="480" src="//www.youtube.com/embed/VlGZRWHhDJI?rel=0" frameborder="0" allowfullscreen></iframe>

<p>Olá!</p>
<p>Se você está aqui e agora, foi convidado a um encontro.</p>

<p>Nós esperamos por você para a exposição das etapas <span class="big">()</span> e <span class="big">^</span> de um ciclo com três passos.</p>
<p>A etapa <span class="big">()</span> será realizada nos dias <b>30</b> e <b>31/10</b> às <b>20h</b> e a etapa <span class="big">^</span> no dia <b>7/11</b> das <b>15</b> às <b>21h</b> (chegue e vá quando desejar), ambas no <b>Estúdio da Midialogia</b>, localizado no piso térreo do Instituto de Artes da Unicamp.</p>

<p>Por favor, pedimos que assista ao vídeo acima para observação da etapa <b>~</b>, realizada no dia 12/10/2013 em Itajubá – MG, durante o FICA 2013. Recomendamos colocar o vídeo em boa qualidade e tela cheia.</p>

<p>É importante atravessarmos juntos cada trajeto para que o ciclo gire total.</p>

<p>Até Logo!</p>

</div>
